<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Sign Up</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='styles.css') }}" rel="stylesheet">

    <!-- Font Imports -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Instrument+Serif:ital@0;1&family=Limelight&display=swap" rel="stylesheet">

</head>
<body>
<div class="container">

    <!-- Global Navbar Element -->
    {% include 'core_features/navbar.html' %}

    <div class="container">
        {% block content %}{% endblock %}
    </div>

    <h2>Sign Up</h2>
    <form action="{{ url_for('user.signup') }}" method="POST" autocomplete="off">
        <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class_="form-control-label") }}
            {{ form.email(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.username.label(class_="form-control-label") }}
            {{ form.username(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.first_name.label(class_="form-control-label") }}
            {{ form.first_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.last_name.label(class_="form-control-label") }}
            {{ form.last_name(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.password.label(class_="form-control-label") }}
            {{ form.password(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.confirm.label(class_="form-control-label") }}
            {{ form.confirm(class_="form-control") }}
        </div>
        <div class="form-group">
            {{ form.submit(class_="btn btn-primary") }}
        </div>
    </form>
</div>

<!-- Global Footer Elements -->
{% include 'core_features/footer.html' %}

</body>
</html>
